body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-open {
  color: green;
}
.text-closed {
  color: red;
}

.gm-style-iw {
  max-width: 90vw !important;
}
.gm-style-iw-d {
  overflow-x: hidden !important;
}